/* disable reashred content streching */
.reshared-content img {
    width: auto;
}

/* hide theme switch */
#theme-switch {
    visibility: hidden;
}

/* greengrey colors */
body {
    background-color: #383c4a;
    color: #dddddd;
}

.generic-content-wrapper {
    background-color: #383c4a;
}

.section-subtitle-wrapper,
.collapse,
.show,
.section-title-wrapper {
    background-color: #404552;
    border-bottom-color: #2b2b2b;
}

.vcard, .h-card,
.widget, .settings-widget, .section-subtitle-wrapper {
    background-color: #4B5162;
    border-bottom: #383c4a;
    border-left: #383c4a;
    border-right: #383c4a;
    border-top: #383c4a;
}

.fn {
    color: #ffffff;
}

.contextual-help-content,
.section-content-tools-wrapper, .section-content-wrapper {
    background-color: #353945;
    border-bottom: #383c4a;
    border-left: #383c4a;
    border-right: #383c4a;
    border-top: #383c4a;
}

a:link {
    color: #63bd65;
}
.zinlcxmi {
    color: #63bd65;
}

a:visited {
    color: #87ab63;
}

a:hover, a:active {
    color: #3fec43;
}

div.profile-match-wrapper > div > a {
    color: #ffffff;
}

.btn, .btn-primary {
    background-color: #5c6b5b;
    border-bottom-color: #47741c;
    border-left-color: #47741c;
    border-right-color: #47741c;
    border-top-color: #47741c;
    color: #ffffff !important;
}

.btn:hover, .btn-primary:active {
    background-color: #4aae40;
    border-bottom-color: #29b136;
    border-left-color: #29b136;
    border-right-color: #29b136;
    border-top-color: #29b136;
}

.bg-dark, .navbar-collapse {
    background-color: #2e323e !important;
}

.form-group:active, .checkbox:hover {
    color: #41d24f;
}

.nav-link.active {
    background-color: #315a2b !important;
}

.list-group-item {
    background-color: #4B5162;
    border-bottom: #383c4a;
    border-left: #383c4a;
    border-right: #383c4a;
    border-top: #383c4a;
    color: #9e9e9e;
    border: 1px solid #383c4a;
}

.list-group-item:active {
    color: #f4f4f4 !important;
}

.text-dark {
    color: #bdbdbd !important;
}

a.text-dark:hover, a.text-dark:active {
    color: #f4f4f4 !important;
}

.contactname {
    color: #bdbdbd;
}

.wall-item-ago, .dropdown-sub-text {
    color: #b3b3b3;
}

.list-group-item.active {
    background-color: #315a2b;
    border-color: #0c4704;
}

.form-control,
.form-control:focus,
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"], textarea {
    background-color: #2b2b2b;
    border-color: #46583f;
    color: #cdcdcd;
    box-shadow: 0 0 0 .2rem #415240;
}

.form-group.checkbox:checked,
.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: #315a2b;
}

.form-group.checkbox:hover label {
    color: #315a2b;
}

.dropdown-item.active {
    background-color: #315a2b;
}

.dropdown-divider {
    border-top: 1px solid #3e3e3e;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover, .textcomplete-item:focus .dropdown-item, .textcomplete-item:hover .dropdown-item, .textcomplete-item.active .dropdown-item, .textcomplete-item:active .dropdown-item {
    background-color: #4b5162;
    color: #b3b3b3;
}

a.dropdown-item {
    color: #f3f3f3;
}

.profile-match-wrapper {
    border-top: 0px solid #eee;
    border-left: 0px solid #eee;
}

.fakelink {
    color: #87ab63;
}

a:hover, a:focus, .fakelink:hover, .fakelink:focus {
    color: #3fec43;
}

.drop-icons {
    color: #ff0000;
}

.drop-icons, a .drop-icons {
    color: #bd0000;
}

.section-content-wrapper-np {
    background-color: #404552;
}

.atoken-index-row:hover td, .chatroom-index-row:hover td, .group-index-row:hover td, .wikis-index-row:hover td, .locs-index-row:hover td, [id^="cloud-index-"]:hover td, .cloud-index-active {
    background-color: #4b5162;
}

.generic-content-wrapper-styled {
    background-color: #404552;
}

#profile-jot-wrapper,
.bootstrap-tagsinput {
    background-color: #2b2b2b;
}

.wall-item-content-wrapper {
    background-color: #404552;
}

.item-highlight {
    border-left: 0.2rem solid #00ff00;
}

.wall-item-comment-wrapper-wc,
.hide-comments-outer,
.wall-item-comment-wrapper,
.wall-item-content-wrapper.comment {
    background-color: #4b5162;
}

.wall-item-head-new {
    border-top: 0.2rem solid #31570b;
}

.wall-item-comment-wrapper {
    border-top: 3px solid #454853;
}

blockquote {
    border-left: 3px solid #344136;
}

.hide-comments-outer {
    border-top-color: #87ab63;
}

.badge-warning {
    background-color: #036811;
    color: #dddddd;
}

.divgrow-showmore {
    border-top: 1px dashed #87ab63;
}

.comment-edit-text {
    border: 1px solid #004400;
}

#doco-content h3 {
    border-bottom: #87ab63 3px solid;
}

.section-content-info-wrapper {
    color: #2aa650;
    background-color: #17221b;
    border-bottom: 3px solid #060d08;
}

.spinner.s, .spinner.m, .spinner.l {
    color: #13c613;
    border-top: .2rem solid #02c102;
    border-left: .2rem solid #123312;
    border-right: .2rem solid #123312;
    border-bottom: .2rem solid #123312;
}

.wall-event-item {
    background-color: #123312;
}

.fs {
    background-color: #404552;
}

.bg-primary {
    background-color: #315a2b !important;
}

.modal-content {
    background-color: #171d16;
}

.close {
    color: #989898;
}

.wall-item-conv {
    background-color: #404552;
    border-top: 1px solid #2e323e;
}

.dropdown-menu.textcomplete-dropdown {
    background-color: #8d9a87;
}

.notification.notification-forum {
    color: #63bd65;
}
.wall-photo-item {
    background-color: #315a2b;
}

.directory-item .divgrow-showmore {
    background-color: #353945;
}

.vcard-header:hover, .vcard-header.active {
    background-color: #4B5162;
}

.alert-info {
    color: #dddddd;
    border-color: #2b2b2b;
}

.conv-participants {
    color: #539b55;
}

#photo-view-wrapper {
    background-color: #4B5162;
}

.table {
    color: #dddccc;
}

#upgrade_info_aside {
    border-color: #383c4a !important;
}

.text-muted {
    color: #a6a6b9 !important;
}

.card {
    background-color: #434753 !important;
}

.border {
    border: 1px solid #415240 !important;
}

.item-category, .item-category > .text-dark {
    color: #222222 !important;
}

.nav-link:focus, .nav-link:hover {
    color: #eeeeee;
}

.nav-link.active > .fa-fw {
    color: #eeeeee;
}

.nav-tabs {
    border-bottom: 1px solid #415240 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top-color: #444444;
    border-right-color: #444444;
    border-bottom-color: #444444;
    border-left-color: #444444;
}

.generic-content-wrapper {
    border: 1px solid #444444;
}

#notifications {
    background-color: #383c4a;
}

[data-bs-theme="light"] .navbar.bg-body-tertiary {
    background-color: #2e323e !important;
}

[data-bs-theme="dark"] .navbar.bg-body-tertiary {
    background-color: #2e323e !important;
}

.navbar {
    --bs-navbar-color: #dddddd;
}

.navbar-banner {
    color: #dddddd;
}

.bg-body-secondary {   
    --bs-bg-opacity: 0;
}
